page-quotes {
    .author {
        color: darkred;
        text-align: right;
        text-transform: uppercase;
        margin: 10px;
        padding: 0;

        &:before {
            content: '- ';
        }
    }
}
